.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}
.contact > div {
  border: 1px soild black;
  padding: 5px;
}
.form > input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form > input:focus {
  color: #0c9467;
}
.form > textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form > textarea:focus {
  color: #0c9467;
}
.form > button {
  width: 50%;
  padding: 10px;
  background-color: #0c9467;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  color: #ccc;
}
.form > button:hover {
  transform: scale(0.90);
  cursor: pointer;
  transition: ease 200ms;
  color: #0c9467;
  background-color: white;
}
.sent {
  align-items: center;
  justify-content: center;
  display: flex;

}
.sent > p {
  color: white;
  padding: 12px;
  border-radius: 10px;
  background-color: #0c9467;
}

