/* Header Wrapper */

.headerWrapper {
  background-image: url("../public/code.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position-x: left;
  background-position-y: top;
}
.siteDate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0463b8;
}

.header {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.bioCard {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  border-radius: 16px;
  /* border: 1px solid rgb(255, 255, 255); */
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #04053c;
}
.bioImage {
  border-radius: 60px;
  margin-top: 10px;
}
.bioCard > p {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
}
.bioCard > p:hover {
  font-weight: lighter;
  cursor: pointer;
}
.bioCard > h5 {
  color: #04053c;
  margin-top: 5px;
  font-weight: 900;
  font-size: large;
}
.bioCard > h5:hover {
  color: #00dcff;
  margin-top: 5px;
  cursor: pointer;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  color: #04053c;
  margin-bottom: 5px;
}
.socialIcons > div {
  flex-grow: 4;
  padding: 4px;
  cursor: pointer;
}
.socialIcons > div:hover {
  font-size: large;
  color: #00dcff;
}
/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: medium;
}
/* Style the navigation bar links */
.navbar a {
  color: inherit;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #eae2fb;
  color: #00dcff;
  border-radius: 30px;
}
.brand {
  flex: 20%;
  padding: 10px;
}
.navigation {
  flex: 40%;
}
/* Column container Wrapper */
.row {
  display: flex;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex-wrap: wrap;
  flex: 30%;
  background-color: #eae2fb;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.side > h5 {
  margin: 20px;
  font-size: 25px;
  color: #04053c;
}
.side > hr {
  width: 35%;
  color: gray;
  margin-left: 20px;
  padding: 1px;
  background-color: gray;
  margin-bottom: 5px;
}
.side .skills {
  display: flex;
  flex-wrap: wrap;
}
.side .column {
  background-color: #04053c;
  padding: 12px;
  margin: 10px;
  border-radius: 30px;
  width: fit-content;
  color: white;
  cursor: pointer;
}
.side .column:hover {
  color: #00dcff;
}

/* Main column */
.main {
  flex: 70%;
  text-align: center;
  background-color: #eae2fb;
  flex-wrap: wrap;
}
.main > h2 {
  margin: 20px;
  font-size: 25px;
  color: #04053c;
}
.main > h5 {
  font-weight: medium;
  color: gray;
  margin-bottom: 5px;
}
.projects {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: scroll;
}
.projectCard .imageCard {
  width: 100%;
  box-sizing: border-box;
}
.projects .projectCard {
  background-color: #04053c;
  margin: 10px;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.projectCard > h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #00dcff;
}
.projectCard > p {
  font-weight: lighter;
  /* font-size: small; */
  margin-bottom: 10px;
}
.projectCard > a {
  font-weight: lighter;
  /* color:#e31e9e; */
  color: #00dcff;
  /* background-color: #fbca4c; */
  padding: 6px;
  border-radius: 16px;
  font-size: small;
}
.projectCard > a:hover {
  outline-color: #b99eff;
  border: 1px solid #b99eff;
}
.projectCard .techCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.techCardContainer .techCard {
  width: fit-content;
  margin: 10px;
  border-radius: 3px;
  padding: 6px;
  border: 1px solid #b99eff;
}
.techCardContainer .techCard:hover {
  background-color: #00dcff;
  transition: ease;
  transition-duration: 200ms;
}
/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  color: inherit;
  background-color: #0463b8;
}
.footer > div {
  display: flex;
  flex: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: flex-start;
}
.aboutSite {
  padding: 5px;
}
.aboutSite > p {
  padding: 5px;
  margin-top: 5px;
  color: #04053c;
}
.aboutSite > h3 {
  text-align: center;
  color: #04053c;
  padding: 10px;
}
.usefulLink {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.usefulLink > div {
  margin: 6px;
  color: inherit;
  font-weight: 300;
}
.usefulLink .icons {
  font-size: large;
  background-color: #04053c;
  border-radius: 60px;
  padding: 10px;
  color: white;
}
.usefulLink > :nth-child(2) {
  color: #04053c;
}
.usefulLink > :nth-child(2):hover {
  color: white;
  transform: matrix(3);
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  color: #0463b8;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) and (orientation: portrait) {
  .row,
  .navbar,
  .header,
  .footer {
    flex-direction: column;
  }
  .bioCard {
    margin: auto;
  }
}
